html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F2F2F2;
}

.brygada {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.madimi {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.space {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.anta {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.btn-1 {
    padding: 10px 20px;
    background-color: #af892d;
    border-radius: 5px;
    border: none;
}

.btn-1:hover {
    opacity: 0.7;
    transition: 1s ease;
}

.btn-1 a {
    text-decoration: none;
    color: white;
}

#home-index {
    background: url('img/468980724.jpg') rgba(0, 0, 0, 0.35);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}
/* about.html */
#about-index {
    background: url('img/468980704.jpg') rgba(0, 0, 0, 0.35);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

#nav-bread {
    background:url('img/bg.png') rgba(0, 0, 0, 0.35);
    height: 35vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

/* about */

#index-about {
    display: flex;
}

.caro-1 {
    background: url('img/468980724.jpg') rgba(0, 0, 0, 0.35);
    background-position: center;
    height: 80vh;
    background-blend-mode: multiply;
}

.caro-2 {
    background: url('img/468980747.jpg') rgba(0, 0, 0, 0.35);
    background-position: center;
    height: 80vh;
    background-blend-mode: multiply;
}

.caro-3 {
    background: url('img/468980704.jpg') rgba(0, 0, 0, 0.35);
    background-position: center;
    height: 80vh;
    background-blend-mode: multiply;
}
/* rooms */
.rooms .card img {
    transition: transform 0.5s ease;
}

.rooms .card img:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-radius: 10px;
}

.rooms .card {
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(48,48,48,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(48,48,48,1);
    box-shadow: 0px 0px 5px 2px rgba(48,48,48,1);
}

/* gallery */

.galery-img img {
    transition: transform 0.5s ease;
} 

.galery-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#gallery-index {
    display: flex;
}

.galery-dsc {
    padding-left: 50px;
}

/* gallery about */
#gallery-about .galery-img img{
    -webkit-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.75);
}

/* rooms */
#rooms-index {
    background: url('img/Rooms.png');
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.rooms-desc {
    color: white;
    padding: 20px;
}

.rooms-desc h1 {
    color: #af892d;
}


/* facilities */
.faci p {
    color: white;
    font-size: 22px;
    margin-top: 20px;
}

.faci img {
    width: 70px;
    transition: transform 0.5s ease;
}

.faci img{
    transition: transform 0.5s ease;
}

.faci img:hover {
    transform: scale(1.5);
    cursor: pointer;
}


/* Testimonials */
#testimonials {
    background:url('img/testimonials.png') ;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#testimonials .testi {
    border: 10px double #af892d;
    padding: 60px;
}

#testimonials .testi-profile h2 {
    margin-left: 15px;
    color: white;
}

/* Footer */
.footer-info h2  {
    color: #af892d;
    font-size: 30px;
}

.footer-info i {
    font-size: 25px;
    color: white;
}

.footer-info a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-left: 20px;
}

.footer-info p {
    color: white;
    margin-left: 25px;
    font-size: 22px;
}

.nav-footer ul li {
    list-style: none;
}

.nav-footer ul li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 20px 0;
}

/* contact.html */
.contact-info {
    border: 1px solid black;
    padding: 30px;
    margin-top: 15px;
}

.contact-info p {
    font-size: 20px;
    color: #af892d;
    margin-top: 20px;
}

@media (max-width:767px) {
    .about-text {
        border-bottom: 0px solid black!important;
    }

    .galery-dsc {
        padding-top: 20px;
        padding-left: 0px;
    }

    .about-img img {
        margin-left: 0px!important;
    }

    #gallery-gallery {
        padding-left: 20px!important;
    }
}


/* SHIFT */
nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #af892d;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 120%;
  }
  
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* annimation */

.fadeinleft {
    opacity:0;
    transform: translateX(100px);
    transition: all 1s ease-out;
}

.fadeinright {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-out;
}

.fadeindown {
    opacity:0 ;
    transform: translateY(-100px);
    transition: all 1.2s ease-out;
}

.fadeinup {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease-out;
}

.fade-in {
    opacity: 0;
    transition: all 1.3s ease-in;
}

.active-left,
.active,
.active-right,
.active-down,
.active-up {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

.fadein {
    opacity: 0;
}